.invisible {
      height: 1px; /* Tamanho mínimo */

    }

@font-face {
  font-family: 'CircularStd';
  src: url('circular-std-medium-500.ttf') format('truetype');
  font-weight: 500;
}

body.popup-active {
  overflow: hidden;
}

    .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.778);
      opacity: 0;
      transition: opacity 0.4s;
      z-index: 9998;

    }

    .overlay.active {
      display: block;
      opacity: 1;
    }
.popup button {
  border: 1px solid white;
  background: transparent;
  padding: 15px;
}
    .popup {
     
      
     overflow-y: auto;
      max-height: 90vh;
      
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.7);
      width: 500px;
                           backdrop-filter: blur(10px);
  background-color: rgba(51,51,51,0.198);
      box-shadow: 0 0 15px rgba(64,64,64,0.076);
      border-radius: 10px;
      padding: 35px;
      opacity: 0;

      z-index: 9998;
    }
    .popup h1 {
      margin-bottom: 15px;
      font-size: 35px;
      text-align: center;
      margin-top: 0px;
     
    }
    .popup h3 {
      font-size: 24px;
      text-align: center;
      margin-top:10px;
      margin-bottom: 1px;
    }
    .popup p {
      margin-top: 0px;
      font-size: 22px;
     
    }
    
    
popup label {
  font-size: 20px;
}
    .popup.active {
      display: block;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }

    .popup-header {
      font-size: 25px;
      margin-bottom: 15px;
    }

    .close-btn {
      position: absolute;
      top: 10px;
      right: 15px;
      background-color: #ff5e5e;
      border: none;
      color: white;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 50%;
      font-size: 16px;
    }

    .close-btn:hover {
      background-color: #ff3333;
    }
    




table {
  
            width: 100%;
            border-collapse: collapse;
            background-color: #1f1f1f;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background:linear-gradient(to bottom, #545454a8, #313131);
            color: #fff;
        }
        td {
            border-bottom: 0px solid #333;
        }
        tr:hover {
          padding: 20px;
            
            transition-duration: 0.5s;
        }
       
       td a {
         padding: 5px;
         border-radius: 4px;
                    background:linear-gradient(to bottom, #0b29dc, #501bda);
                    box-shadow: 2px 1px 4px 5px rgba(10,7,210,0.319);
            color: white;
            text-decoration: 
        }
       td a:hover {
            text-decoration: underline;
                      background:linear-gradient(to top, #501bda, #0b29dc);
        }
        body {
          font-weight: 500;
            margin: 0;
font-family: 'CircularStd', sans-serif;
            background: rgb(0,0,0);
            color: white;
           user-select: none;
          font-size: 15px;
          font-weight: 500;
          
        }


        @keyframes fadeOut {
            0% {
                opacity: 1;
            }
            90% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                visibility: hidden;
            }
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        .navbar {

  
          backdrop-filter: blur(20px);
            display: flex;
            align-items: center;
            background: linear-gradient(to bottom, #1c1c1c , #1c1c1c29);
          margin-bottom: 40px;
            padding: 10px;
            position: fixed;
            width: 100%;
            z-index: 9998;
            top: 0
            
           
        }

        .hamburger-menu {
    cursor: pointer;
    margin-left: 3px;
    margin-right: 10px;
    transition: transform 0.3s;
          z-index:999;
}

.hamburger-menu .bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.3s;
}

.hamburger-menu.open .bar:nth-child(1) {
    transform: rotate(-50deg) translate(-6px, 5px);
}

.hamburger-menu.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
    transform: rotate(50deg) translate(-6px, -5px);
}
        .navbar-title {
            font-size: 1.5em;
            color: white;
          
          
        }
        .tabs-container {
            display: flex;
            flex-direction: column;
            position: fixed;
            left: 0;
            top: 30px;
            width: 330px;
            height: 100%;
                      background: rgba(10,10,10,0.839);
                     backdrop-filter: blur(20px);
                    

            padding-top: 45px;
            transform: translateX(-100%);
            transition: transform 0.5s;
            z-index: 1000;
           
          
        }
        .tabs-container h1 {
          text-align: center;
          
        }

        .tabs {
            display: flex;
            flex-direction: column;
          
        }

        .tabs a {
            color: white;
            padding:  17px;
            text-decoration: none;
            transition: background-color 0.5s, transform 0.3s;
            margin: 5px 15px 3px;
            border: 1px solid #4444444a;
            border-radius: 6px;
          background: #202020;
        
      
        }

        .tabs a:active, .tabs a.active {
            background-color: #636363c9;
            transform: scale(1.04);
            
        }

.content {
    padding: 22px;
    margin-top: 65px;
    display: flex;
    justify-content: center;
    transition: transform 0.4s ease; /* Efeito de transição suave */
}


        .tab-content {
            display: none;
            
            padding: 0px;
            border-radius: 0px;
            transition: opacity 0.4s, transform 0.7s;
            width: 100%;
            max-width: auto;
          flex-direction: column; /* Exibir os elementos filhos em coluna */
          
        }
  .square {
    width: auto;
    
    background:#0f0f0fe6 ;
    
    
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 2px rgba(82,82,82,0.238);
    max-width: 1000px;
      margin-bottom: 70px;
}
.square h1 {
  text-decoration: underline;
  margin-top: 0px;
  text-shadow: 0px 0px 5px rgba(255,255,255,0.675); 
  background:
  padding: 3px;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
 
}

.square h2 {
  margin-bottom: 35px;
  text-align: center;
  color: #f1f1f1;
  font-size: 24px;
  
}
.square h3 {
  margin-top: 30px;
  margin:0px;
}
.square h5 {
  
 color:#858585;
}
.square p {
  line-height: 1.4em;
  font-size: 15px;
  color: #f5f5f5c5;
}



        .tab-content.active {
            display: block;
            opacity: 1;
            transform: translateY(0);
        }

        .tab-content.hidden {
            opacity: 0;
            transform: translateY(15px);
        }



  .menu {
      position: absolute;
      right: 20px;
      margin: 20px;
      cursor: pointer;
    }

    .menu span {
      color: white; /* Cor branca */
      font-size: 24px; /* Tamanho maior */
    }

    .menu ul {
      
      border: 2px solid #212121;
      border-radius: 10px;
      list-style-type: none;
      padding: 0;
      display: none;
      position: absolute;
      right: 0;
      background-color: #121212;
      transition-duration: 0.3s;
    }

    .menu ul li {
      
    padding: 15px;
    border-bottom: 3px solid #1b1a1a;
    cursor: pointer;
     /* ou outro valor conforme desejado */
}
    .menu ul li:hover {
      transition-duration: 0.5s;
      border-radius:5px ;
      background-color: #2f2e2e;
    }
  .no-transitions * {
      transition: none !important;
    }
  
  .image-container {
    
    width: 100%;
    max-width: auto;
    height: 200px;
    max-height: 300px;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    
}

.image-container img {
  
    width: 100%;
    height: 200px;
    
    
}
  
        .contener-main {
          margin: auto;
          border-radius: 15px;
          padding: 18px;
          border: 1px solid rgba(6,0,15,0.18);
    background: #0f0f0fe6;
    box-shadow: 1px 1px 1px 4px rgba(21,2,32,0.054);
    max-width: 700px;
          margin-bottom: 50px;
        }
        .contener-main a {
          color: white;
        }
.contener-main a:hover {
  
  color: #bebebe;
}

        
        
        .contener-main h2 {
          text-shadow: 0px 0px 5px rgba(255,255,255,0.664);
          margin-bottom: 15px; 
          text-align: center;
          font-size: 27px;
        }
        
        .contener-main p {
         
          
          margin-bottom: 0px;
          color: #f5f5f5a3;
          line-height: 1.4em;
        }
        .contener-main h5 {
          cursor: pointer;
        box-shadow: 2px 1px 4px 5px rgba(10,7,210,0.324);
          margin: 0px;
          border-radius: 10px;
          margin-bottom: 25px;
          padding: 5px;
          background:linear-gradient(to bottom, #0b29dc, #501bda);
          display: inline-block;
  margin-right: 1px; /* Espaçamento entre os títulos */
        }
        
        .contener-main h5:hover {
          
          transition-duration: 0.3s;
background:linear-gradient(to bottom, #501bda, #0b29dc);
        }

*:focus {
  
  outline: none;
}

#notepad {
  
  color: white;
  border-radius: 5px;
  background: rgb(31,31,31);
            width: 100%;
            height: 250px;
        }
        .control-panel {
            margin-top: 10px;
        }

.menu-open {
    overflow: hidden;
}
#corTexto {
    display: none; /* Oculta o seletor de cor */
}
/* Remover a borda laranja ao focar nos elementos */
select:focus, input[type="number"]:focus {
    outline: none;
    border: none; /* Isso remove a borda de todos os lados */
  background: #616161;
}

  }
  
        
.exam {
  
            background-color: #333333;
            padding: 20px;
            border-radius: 8px;
            margin-bottom: 15px;
            transition: transform 0.2s, background-color 0.2s;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }






  /* botÃ£o das anotaÃ§Ãµes */
    button {
        padding: 10px 5px;
        font-size: 16px;
        background-color:  #242424;
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        cursor: pointer;
        margin-right:10px ;
      
    }
  
  /* botÃ£o das anotaÃ§Ãµes ativado */
    button:hover {
      transition-duration: 0.6s;
        background-color:  #2b2b2b;
        color: white;
    }
  
    /* menu acolhivel */
   .accordion {
         
            cursor: pointer;
            padding: 12px;
            width: 100%;
            text-align: center;
            border: 1px solid #1d1d1d;
            outline: none;
            transition: background-color 0.5s ease, color 0.5s ease; /* Adiciona transiÃ§Ã£o de cor */
            background-color:white /* Cor do Recolhivel */
            color: white;: /* Cor do texto */
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 4px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            
     
        }

        .accordion:hover, .accordion.active {

            background-color:
            #616161/* Cor de hover e ativo */
          color: white;
        }

.accordion::after {
    content: '⌵'; /* Unicode character for down arrow */
    font-size: 16px;
    color: white; /* Cor do sÃ­mbolo */
    transition: transform 0.3s ease; /* Adiciona transiÃ§Ã£o ao sÃ­mbolo */
    display: inline-block;
}

.accordion.active::after {
    transform: rotate(180deg); /* Rotaciona o sÃ­mbolo ao abrir */
}

        .panel {
          
              text-align: center;
          width: 100%;
          height: 200px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out; /* TransiÃ§Ã£o suave ao abrir/fechar */
            margin-bottom: 5px;
            margin-top: 2px;
            border-radius: 10px;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
            background-color: rgb(30,30,30); /* Cor de fundo do conteÃºdo */
            color: white; /* Cor do texto do conteÃºdo */
        }

        .panel.show {
            max-height: 300px; /* Altura mÃ¡xima para o conteÃºdo do painel */
            padding: 0px; /* Adiciona padding ao abrir o painel */
        }

        .panel p {
            margin: 20px 0;
        }
       .panel h3 {
         color: #b3c0d5;
         margin-top: 20px;
       }
       .panel h5 {
         color: #95959f;
       }
  .full-width-button {
       
    background-color: #1C1C1C;
    color: white;
    padding: 1px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box; /* Inclui o padding e a borda na largura total */
}

button a.tab-link {
     
    display: block; /* Isso faz com que o link ocupe 100% da largura do botÃ£o */
    padding: 20px 15px; /* Ajuste o padding conforme desejado */
    background-color: #333333e6;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 100%; /* O link ocuparÃ¡ 100% da largura do botÃ£o */
    box-sizing: border-box; /* Inclui o padding e a borda na largura total */
    outline: none; /* Remove a borda ao redor do botÃ£o */
    margin: 0; /* Remove a margem do link */
}

button a.tab-link:hover {
  
    background-color: #2c2626b9;
    color: white;
}

.contener-main a {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  align-content: center;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  background:linear-gradient(to bottom, #0b29dc, #501bda);
  padding: 10px;
}

.contener-main a:hover {
  
  border: 1px solid rgba(255,255,255,0.183);
  transition-duration: 0.8s;
  color: white;
}

#main-caixa h4 {
  margin-bottom: 0px;
  color: #4040fb;
  text-align: center;
}

.timer {
  text-align: center;
}

.timer:hover {
  scale: 1.1;
  transition-duration: 0.4s;
}

.timer-restante {
  color: #adadf0;
  margin-top: 20px;
  text-align: center;
}

.painel {
                text-align: center;
          padding: 8px;
            
            
            margin-bottom: 25px;
            margin-top: 10px;
            border-radius: 10px;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
            background-color: rgba(30,30,30,0.569); /* Cor de fundo do conteÃºdo */
            color: white; /* Cor do texto do conteÃºdo */
}

.painel p {
  margin: 20px 0;
}

.painel h3 {
  color: #3639f6;
         margin-top: 15px;
}

.painel h5 {
  margin-top:8px ;
  margin-bottom: 2px;
  color: #95959f;
}

.square h4 {
  color: #3639f6;
  margin-bottom: 15px;
}

.square img {
  width: 300px;
  margin: auto;
  display: block;
  border-radius: 5px;
  background-size: cover;
  
  max-height: 400px;
}

.creditos {
  margin: 0px;
  text-align: center;
  font-size: 1px;
}

.square strong {
  color: #ffffff;
}


.tabs-container h5 {
  margin: 0px;
  color: #111ace;
}

.tabs-container .timer  {
  
  margin: 0px;
}


.social {
  float: left;
  display: block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.social-text {
  color: #ffffff;
  display: inline-block;
}

.social-link {
  display: block;
  text-align: left;
  background: transparent;
}

.videoh3 {
  margin-top:40px ;
  text-align: center;
  margin-bottom: 5px;
}

.contener-main video {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 25px;
}
/* Tema escuro personalizado para SweetAlert2 */
    .swal2-popup {
  
      padding: 10px !important; /* Reduzindo o padding */
      width: 400px !important;  /* Ajustando a largura */
      font-size: 14px;
    
      border: 1px solid rgba(46,46,46,0.165);
     
      backdrop-filter: blur(15px);
      background-color: #21212138 !important;
      color: #fff !important;
      border-radius: 10px;
      box-shadow: 3px 4px 5px 2px rgba(41,41,41,0.478);
    }
  .swal2-html-container {
      color: #c2c2c2 !important; /* Cor personalizada para a descrição */
      font-size: 10px;
      text-align: left !important;}
      
    .swal2-title {
      font-size: 23px;
      margin: 0px;
      color: #fff !important;
    }

    .swal2-icon {
      font-size: 15px;
      color: #0b29dc !important; /* Cor personalizada para ícones */
    }

    .swal2-confirm {
      
      background:linear-gradient(to bottom, #0b29dc, #501bda);
      color: #fff !important;
      border: none;
    }

    .swal2-confirm:hover {
      background:linear-gradient(to bottom, #501bda, #0b29dc);
    }
    
    .baloes-container {
      display: flex;
      flex-wrap: wrap; /* Quebra de linha automática */
      gap: 6px; /* Espaço entre as hashtags */
      justify-content: center;
      max-width: 90%; /* Limita a largura total */
    }

    .baloes {
      margin-bottom: 10px;
      display: inline-block;
      padding: 2px 6px; /* Espaçamento interno reduzido */
      background-color: #212121;
      border-radius: 12px;
      color: white;
      font-size: 12px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.2s, transform 0.2s;
    }

    .baloes:hover {
      background-color: #252525;
      transform: scale(1.09); /* Leve aumento ao passar o mouse */
    }
    
    
    .post {
      background-color: #0f0f0fe6;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      width: 400px;
      overflow: hidden;
      color: #f1f1f1;
      position: relative;
      margin: auto;
    }
.post a {
  text-decoration: none;
  color: #1497c9;
}

.post a:hover {
  text-decoration: underline;
}
    .post-header {
      display: flex;
      align-items: center;
      padding: 10px;
    }

    .post-header img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .post-video {
      width: 100%;
      height: 400px;
      background-color: black;
    }

    .post-video video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .post-footer {
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .like-button {
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .like-button svg {
      fill: #777;
      width: 48px;
      height: 48px;
      transition: fill 0.2s;
      transform: scale(1);
      animation: pulse 1s infinite;
    }

    .liked svg {
      fill: #e0245e;
      animation: none;
    }

    @keyframes pulse {
      0%, 100% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
    }

    .floating-hearts {
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;
      overflow: visible;
    }

    .heart {
      width: 20px;
      height: 20px;
      position: absolute;
      opacity: 0;
      animation: float 2s ease-in-out forwards;
    }

    .heart svg {
      fill: #e0245e;
    }

    @keyframes float {
      0% {
        transform: translateY(0) scale(1);
        opacity: 1;
      }
      100% {
        transform: translateY(-200px) scale(1.5);
        opacity: 0;
      }
    }
    
    .post-description {
      padding: 10px;
      font-size: 14px;
      line-height: 1.4;
      color: #ccc;
    }